<section>
  <div class="container">
    <div class="landing">
      <div class="landing-details" appFade="up">
        <h3 class="profession">Full Stack Software Developer</h3>
        <h1>Mangesh Kanawade</h1>
        <p class="description">
          Building scalable and secure web applications using .NET, Angular, and SQL Server, delivering modern,
          high-performance solutions tailored to business needs.
        </p>
        <ul class="social-icons-container">
          <li>
            <a href="https://www.linkedin.com/in/mangeshkanawade/" target="_blank" rel="noopener noreferrer">
              <span class="social-icon">
                <i class="fa-brands fa-linkedin"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/mangeshkanawade" target="_blank" rel="noopener noreferrer">
              <span class="social-icon">
                <i class="fa-brands fa-github"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://x.com/iammangeshbk" target="_blank" rel="noopener noreferrer">
              <span class="social-icon">
                <i class="fa-brands fa-x-twitter"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/mangesh.bk/" target="_blank" rel="noopener noreferrer">
              <span class="social-icon">
                <i class="fa-brands fa-instagram"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://api.whatsapp.com/send?phone=917507456876/" target="_blank" rel="noopener noreferrer">
              <span class="social-icon">
                <i class="fa-brands fa-whatsapp"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="landing-img">
        <img ngSrc="assets/img/MK4.PNG" alt="Mangesh Kanawade" width="500" height="800" priority>
      </div>
    </div>
  </div>
</section>