<section>
  <div class="container">
    <div class="about">
      <div class="about-details" appFade="up" [delay]="200">
        <h2>About Me</h2>
        <h3 class="subtitle">👨‍💻 Full-Stack Developer | ASP.NET Core | Angular | SQL Server</h3>
        <p class="first-desc">
          I am a passionate Full-Stack Developer with {{getYearsSince()}} of experience in designing, developing, and
          optimizing
          web applications. My expertise lies in ASP.NET Core, Angular, JavaScript, and SQL Server, ensuring robust and
          scalable solutions.
        </p>

        <a href="/profile/assets/resume/Mangesh_Kanawade_CV.pdf" download="Mangesh_Kanawade_CV.pdf">
          <button class="btn">DOWNLOAD CV</button>
        </a>
      </div>
    </div>

  </div>
</section>