<section>
  <div class="container">
    <div class="services-title">
      <h2>What I Do</h2>
      <p>I specialize in designing and developing high-quality, scalable, and efficient applications using modern
        technologies.</p>
    </div>
    <div class="services">
      <div class="services-card" appFade="left">
        <h3 class="services-card-subtitle">Backend Development</h3>
        <h3 class="services-card-title">Secure & Scalable APIs</h3>
        <p>
          Building high-performance APIs using <b>ASP.NET Core</b>, implementing <b>RESTful services</b>,
          and optimizing backend logic for <b>performance and security</b>.
        </p>
      </div>
      <div class="services-card" appFade="left" [delay]="200">
        <h3 class="services-card-subtitle">Frontend Development</h3>
        <h3 class="services-card-title">Modern & Responsive UI</h3>
        <p>
          Creating interactive and user-friendly interfaces with <b>Angular</b>, ensuring
          <b>cross-browser compatibility</b> and a seamless user experience.
        </p>
      </div>
      <div class="services-card" appFade="left" [delay]="400">
        <h3 class="services-card-subtitle">Database Management</h3>
        <h3 class="services-card-title">Efficient & Optimized Data Handling</h3>
        <p>
          Designing optimized database schemas, managing queries in <b>SQL Server</b>,
          and ensuring <b>data integrity and security</b>.
        </p>
      </div>
      <div class="services-card" appFade="left" [delay]="600">
        <h3 class="services-card-subtitle">Third-Party Integrations</h3>
        <h3 class="services-card-title">Payments, APIs & Security</h3>
        <p>
          Integrating <b>Stripe for payments</b>, handling <b>encrypted API communications</b>,
          and implementing various third-party services like video streaming and authentication.
        </p>
      </div>

    </div>
  </div>
</section>